@import 'src/variables';

div.create-team-page {
    display: flex;
    flex-direction: column;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            margin-right: $unrelated-distance;
            background-color: unset;
            border: unset;
            height: 45px;
            width: 45px;
            svg {
                height: 100%;
                width: 100%;
                transform: rotate(45deg);
            }
        }
    }

    h1 {
        text-align: left;
    }

    p.avaialble-header {
        font-size: 18px;
        color: gray;
        text-align: left;
        margin-bottom: unset;
    }

    margin: $unrelated-distance * 2;

    ul.team-selected-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: unset;
        

        li {
            width: 33%;
            svg.player {
                height: 40px;
                width: 40px;
                fill:  lightgray;

                &.selected {
                    fill: black;
                }
            }

            p {
                margin: unset;
                padding: unset;
                height: 20px;
                font-size: 12px;
            }
        }
    }

    div.input-container {
        &.team-name {
            input {
                width: 100%;
            }
        }
        margin-bottom: $unrelated-distance*2;
    }

    button.done-button {
        margin-right: $unrelated-distance;
        margin-top: $unrelated-distance*2;
        margin-left: auto;
    }
}