@import 'src/variables';

div.teams-page {
    display: flex;
    width: auto;
    height: 100%;
    padding-left: $unrelated-distance * 2 ;
    padding-right: $unrelated-distance * 2;
    padding-top: $unrelated-distance * 2 ;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        margin-bottom: unset;
    }

    button.circle-add {
        height: 50px;
        width: 50px;
        border-radius: 25px;
        border: unset;
        position: absolute;
        background-color: orange;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        right: $unrelated-distance*2;
        bottom: 100px;

        svg {
            max-height: 20px;
            max-width: 20px;
            fill: white;
        }
    }
}