@import 'src/variables';

div.users-page {
    margin: $unrelated-distance * 2;

    div.header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        button {
            width: 50px;
            height: 30px;

            svg {
                height: 100%;
                width: auto;
            }
        };
    }

}

div.add-player-modal {
    position: absolute;
    height: 250px;
    top: 25%;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

    &:focus {
        outline: none;
    }

    p.title {
        margin-left: 10%;
        margin-top: $unrelated-distance * 1.5;
        margin-bottom: $unrelated-distance*2;
    }

    div.add-player-container {
        height: 100%;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            button {
                width: 100px;
                height: 30px;
                font-size: 12px;
                color: white;
                background-color: #60A4BE;
                border-radius: 15px;
                position: absolute;
                bottom: $unrelated-distance;
                right: $unrelated-distance;
            }
        }
    }
}