$unrelated-distance: 16px;
$related-distance: 8px;

$mobile-width-large: 650px;

$mobile-width-medium: 450px;

$desktop-large: 1400px;

$primary-color: #FFBA08;

$secondary-color: #3FA7D6;

$error: #D00000;

$pine-green: #136F63;

$prussian-blue: #032B43;

$highlight-color: #9CDEC1;

$dark: #060810;